.intro {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin: 0 auto;
  max-width: 984px;
}

.intro__image {
  max-height: 615px;
  width: 100%;
  box-shadow: 10px 10px 25px 0px #00000080;
}

.intro__title {
  font-family: "Inter", sans-serif;
  font-weight: bold;
  font-size: 54px;
  line-height: 1.07;
  max-width: 830px;
  margin: 0;
  padding-top: 92px;
}

.intro__quote {
  font-family: "Inter", sans-serif;
  font-weight: normal;
  font-size: 24px;
  line-height: 1.4;
  max-width: 738px;
  margin: 0;
  padding-top: 40px;
}

.intro__blockquote {
  font-family: "Inter", sans-serif;
  font-weight: normal;
  font-size: 24px;
  margin: 0;
}

.intro__blockquote-text {
  margin: 0;
}

.intro__caption {
  font-family: "Inter", sans-serif;
  font-weight: normal;
  font-size: 16px;
  text-align: right;
  width: 100%;
}

.intro__text {
  font-family: "Inter", sans-serif;
  font-weight: normal;
  font-size: 16px;
  line-height: 1.63;
  max-width: 722px;
  margin: 0;
  padding-top: 76px;
}

@media screen and (max-width: 1024px) {
  .intro__title {
    padding-top: 90px;
    padding-left: 24px;
    font-size: 45px;
  }
  .intro__quote {
    padding: 0 24px;
  }
  .intro__text {
    padding: 0 24px;
  }
}

@media screen and (max-width: 544px) {
  .intro__title {
    font-size: 32px;
    line-height: 1.09;
    padding: 64px 16px 0 16px;
  }
  .intro__quote {
    padding: 0 16px;
  }
  .intro__text {
    padding: 0 16px;
  }
}
