.place {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto auto 1fr;
  grid-template-areas:
    "title artist"
    "image text"
    "link text";
  gap: 48px 40px;
  margin: 0 auto;
  max-width: 984px;
  padding-top: 92px;
}

.place__title {
  grid-area: title;
  font-family: "Inter", sans-serif;
  font-weight: bold;
  font-size: 72px;
  line-height: 1.05;
  margin: 0;
}

.place__artist {
  grid-area: artist;
  display: flex;
  flex-direction: column;
  justify-content: end;
}

.place__artist-title {
  font-family: "Inter", sans-serif;
  font-size: 12px;
  letter-spacing: 0.12em;
  padding-bottom: 8px;
  margin: 0px;
}

.place__artist-name {
  font-family: "Inter", sans-serif;
  font-size: 18px;
  margin: 0px;
}

.place__image {
  grid-area: image;
  aspect-ratio: 1;
  width: 100%;
  box-shadow: 10px 10px 25px 0px #00000080;
  object-fit: cover;
  display: block;
  transition: opacity 0.35s ease-in;
}

.place__image:hover {
  opacity: 50%;
}

.place-text {
  grid-area: text;
}

.place__paragraph {
  font-family: "Inter", sans-serif;
  font-size: 18px;
  line-height: 1.63;
  margin: 0;
  padding-bottom: 25px;
}

.place__link {
  width: fit-content;
  max-height: fit-content;
  grid-area: link;
  font-size: 18px;
  font-family: "Inter", sans-serif;
  font-weight: 600;
  color: white;
  background-image: linear-gradient(to right, #0278fe, #003a7b);
  padding: 13px 20px 13px 20px;
  text-align: center;
  text-decoration: none;
  border-radius: 4px;
  box-shadow: 5px 5px 10px 0px #00000040;
}

.place__link:hover {
  opacity: 50%;
}
@media screen and (max-width: 1024px) {
  .place {
    column-gap: 28px;
    padding: 88px 24px;
  }
  .place__title {
    font-size: 42px;
    line-height: 1.09;
  }

  .place__paragraph {
    font-size: 16px;
  }
}

@media screen and (max-width: 544px) {
  .place {
    grid-template-columns: 1fr;
    grid-template-areas:
      "title"
      "artist"
      "image"
      "link"
      "text"
      "text";
    padding-left: 0;
    padding-right: 0;
  }
  .place__title {
    font-size: 32px;
    padding: 0 16px;
  }
  .place__artist {
    padding: 0 16px;
  }
  .place__link {
    margin: 0 auto;
  }
  .place__paragraph {
    padding: 0 16px;
  }
}
